.feedback-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  .feedback-detail {
    border: #000 1px solid;
    border-radius: 0.5rem;
    background: rgb(9, 207, 208);
    background: linear-gradient(
      186deg,
      rgba(9, 207, 208, 1) 19%,
      rgb(210, 234, 241) 51%
    );
    width: 700px;
    height: 150px;
    margin: 20px;

    .feedback-requestor-name {
      font-size: 1.5rem;
      font-weight: 600;
      color: #000;
      margin-bottom: 0.5rem;
    }

    .feedback-form {
        
      label {
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 0.5rem;
        margin: 10px;
      }
      input {
        border: 1px solid #000;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        margin: 10px;
      }

      button{
        border: 1px solid #000;
        background-color: blueviolet;
        color: white;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        margin: 10px;
        cursor: pointer;
      }
      button:hover{
        background-color: blue;
      }
    }
  }
}
