#header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px; }
  #header #ers-title {
    color: white;
    font-size: 1.2rem;
    line-height: 0rem; }
  #header .items {
    display: flex; }
    #header .items a {
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
      #header .items a:hover {
        background-color: #ddd;
        color: black; }
